# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

/build/
archive/

# Android Studio will place build artifacts here
/android/app/.cxx
/android/app/build
android/build
/android/app/debug
/android/app/profile
/android/app/release
#/android/app/src/profile/AndroidManifest.xml
/android/gradle.properties
/null
**/*.g.dart
**/*.r.dart
**/*.m.dart
 No newline at end of file


# iOS
ios/build

# FVM Version Cache
.fvm/